@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan";
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0rem 0rem, 120% 120%;
}

.card {
  /* background-color: antiquewhite; */
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.top_container {
  display: flex;
  justify-content: space-between;
}
.left_top_cont {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.left_top_cont h1 {
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  font-size: 4rem;
  max-width: 29rem;
}

.left_top_cont p {
  font-weight: 400;
  color: hsl(300, 43%, 22%, 0.8);
  line-height: 1.2rem;
  max-width: 25rem;
}

.right_top_cont {
  /* min-width: 45.5%; */
  /* background-color: rgb(198, 227, 227); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.8rem;
}
.star_cont {
  /* width: 28rem; */
  min-width: 28rem;
  /* max-width: 28rem; */
  height: 2.7rem;
  background-color: hsl(303, 10%, 53%, 0.15);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.2rem;
  margin-top: 0.2rem;
}
.star_cont img {
  width: 1em;
  height: 1rem;
}
.star_cont h4 {
  color: hsl(300, 43%, 22%);
  font-size: 1.1rem;
}
.fivestartdiv {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
#rate1 {
  margin-top: 3.5rem;
  margin-right: 4.5rem;
}
#rate2 {
  margin-right: 2rem;
}
#rate3 {
}
.bottom_container {
  margin-top: 3.5rem;
  width: 100%;
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}
.box {
  max-width: 24rem;
  max-height: 24rem;
  background-color: hsl(300, 43%, 22%);
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.4rem;
  border-radius: 0.5rem;
  padding: 2.5rem;
}
.profile_cont {
  display: flex;
  gap: 1.5rem;
}

.profile_cont img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.verifiedBuyer {
  color: hsl(333, 80%, 67%);
}
.username_cont {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.25rem;
}
.box p {
  color: rgb(255, 255, 255, 0.78);
  line-height: 1.3rem;
}

#box2 {
  margin-top: 1%;
}
#box3 {
  margin-top: 2.2%;
}

@media (max-width: 980px) {
  .top_container {
    flex-direction: column;
  }
  .left_top_cont {
    max-width: 100%;
    text-align: center;
    align-items: center;
  }
  .left_top_cont h1 {
    font-size: 2.5rem;
  }
  .right_top_cont {
    margin: 0px;
    align-items: stretch;
  }
  #rate2,
  #rate1 {
    margin-right: 0rem;
  }
  .star_cont {
    min-width: 20rem;
  }
  .bottom_container {
    flex-direction: column;
  }
  .box {
    min-width: 100%;
  }
  .card {
    margin: 2rem 0rem;
  }
}

@media (max-width: 400px) {
  .star_cont {
    flex-direction: column;
    min-width: 0rem;
    height: 4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  .fivestartdiv {
    min-width: 44%;
  }
}
